<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/main.css" media="screen" title="no title" charset="utf-8">
    <meta charset="utf-8">
    <title>Backbone Views + Models and Collections</title>
  </head>

  <body>
      <header>
        <nav>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#dashboard">Dashboard</a>
          <a href="#user/:id">Profile</a>
          <a href="#users">Users</a>
          <a id="forms" href="#login">Login</a>
          <a id="forms" href="#register">Sign Up</a>
        </nav>
      </header>

    <main>

      <section class="feed"></section>
      <section class="form"></section>


    </main>

    <script type="text/template" id="inputBoxTemplate">
      <input type="text" class="email" placeholder="Email"/>
      <input type="text" class="pwd" placeholder="Password"/>
      <input type="button" class="login" value="Log In"/>
      <input type="button" href="#register" class="register" value="Register"/>
    </script>

    <script type="text/template" id="tweetViewTemplate">
        <img src="http://www.fillmurray.com/50/50"/>
      <header>
        <a class="email" href="#user/:id"><%= email %></a>
        <time><%= moment(tweets.created_at).startOf('day').fromNow() %></time>
        <p class="tweet">Tweet: <%= _.map(tweets, 'body') %></p>
      </header>
    </script>

    <script type="text/template" id="followedTweetsTemplate">
      <img src="http://www.fillmurray.com/50/50"/>
      <header>
        <a class="email" href="#dashboard"><%= email %></a>
        <time><%= moment(tweets.created_at).startOf('day').fromNow() %></time>
        <p class="tweet">Tweet: <%= _.map(tweets, 'body') %></p>
      </header>
    </script>





    <script src="token.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
