<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/main.css" media="screen" title="no title" charset="utf-8">
    <meta charset="utf-8">
    <title>Backbone Views + Models and Collections</title>
  </head>

  <body>
      <header class="top"></header>

    <main>
      <section class="feed"></section>
      <section class="form"></section>
    </main>

    <footer></footer>

    <script type="text/template" id="inputBoxTemplate">
      <input type="text" class="email" placeholder="Email or username"/>
      <input type="text" class="pwd" placeholder="Password"/>
      <a href="#dashboard" class="login">Log in</a>
      <p class="instructions">Don't have an account? <a href="#register" class="register">Sign up »</a></p>
    </script>

    <script type="text/template" id="tweetViewTemplate">
        <img src="http://www.fillmurray.com/50/50"/>
      <header>
        <a class="email" href="#user/:id"><%= email %></a>
        <time><%= moment(tweets.created_at).startOf('day').fromNow() %></time>
        <p class="tweet">Tweet: <%= _.map(tweets, 'body') %></p>
      </header>
    </script>

    <script type="text/template" id="followedTweetsTemplate">
      <img src="http://www.fillmurray.com/50/50"/>
      <header>
          <a class="email" href="#dashboard"><%= email %></a>
        <time><%= moment(tweets.created_at).startOf('day').fromNow() %></time>
        <p class="tweet">Tweet: <%= _.map(tweets, 'body') %></p>
      </header>
    </script>

    <script type="text/template" id="headerHomeTemplate">
      <a href="#"><i class="fa fa-twitter"></i></a>
      <div class="homeHeader">
        <a id="forms" href="#login">Login</a>
        <a id="forms" href="#register">Sign Up</a>
      </div>
    </script>

    <script type="text/template" id="headerDashboardTemplate">
      <a href="#dashboard" id="homeBtn"><i class="fa fa-home"></i>Home</a>
      <a href="#" class="twitterBird"><i class="fa fa-twitter"></i></a>
      <div class="profileHeader">
        <input type="text" class="search" placeholder="Search Twitter"/>
        <a id="searchBtn" href="#">Search</a>
        <a href="#user/:id"><img src="http://www.fillmurray.com/30/30" alt="avatar small" class="smallAvatar"/></a>
        <a id="logOutBtn" href="#">Log Out</a>
      </div>
    </script>

    <script type="text/template" id="headerLoginTemplate">
      <a href="#"><i class="fa fa-twitter"></i></a>
      <p class="loginHeader">Log in to Twitter</p>
    </script>

    <script type="text/template" id="headerRegisterTemplate">
      <a href="#"><i class="fa fa-twitter"></i></a>
      <p class="loginHeader">Have an account? <a href="#login" class="login">Login</a></p>
    </script>



    <script src="token.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
