<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Backbone Views + Models and Collections</title>
  </head>

  <body>
      <header>
        <nav>
          <a href="#">Home</a>
          <a href="#dashboard">Dashboard</a>
          <a href="#user/:id">Profile</a>
          <a href="#users">Users</a>
          <a href="#login">Login</a>
        </nav>
      </header>
    <main>
    </main>

    <script type="text/template" id="inputBoxTemplate">
      <input type="text" class="email" placeholder="Email"/>
      <input type="text" class="pwd" placeholder="Password"/>
      <input type="button" class="login" value="Log In"/>
    </script>

    <script type="text/template" id="tweetViewTemplate">
        <header>
          <a href="#user/:id">@<%= name %></a>
        </header>
          <img src="http://www.fillmurray.com/50/50"/>
          <p>Message: <%= message %></p>
          <time>Sent: <%= created %></time>
    </script>


    <script src="token.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <!-- <script src="app.js"></script> -->
    <script src="main.js"></script>
  </body>
</html>
