html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Helvetica' sans-serif; }
  body::after {
    clear: both;
    content: "";
    display: table; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 500px; }
  main::after {
    clear: both;
    content: "";
    display: table; }

main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 100px; }
  main:last-child {
    margin-right: 0; }

header.top {
  margin-bottom: 100px; }

header nav {
  margin: 10px; }
  header nav a {
    text-decoration: none;
    color: #53A7E8;
    font-size: 1.5em;
    padding: 50px 10px 10px;
    margin-left: 50px; }
    header nav a:hover {
      color: navy; }
    header nav a .fa {
      font-size: 2em; }
  header nav a#searchBtn {
    margin-left: 0;
    font-size: 1em;
    border: 1px solid #E1E8ED;
    border-radius: 5px;
    padding: 3px;
    color: white;
    background-color: #53A7E8; }
  header nav #logOutBtn {
    font-size: 1em;
    margin-left: 0; }
  header nav .smallAvatar {
    border-radius: 5px; }
  header nav .profileHeader {
    float: right; }
    header nav .profileHeader input {
      border-radius: 10px;
      padding: 5px;
      border: 1px solid #E1E8ED; }
  header nav .twitterBird {
    margin-left: 280px;
    font-size: 1em; }
  header nav #homeBtn {
    font-size: 1em; }
  header nav .loginHeader {
    text-align: center;
    display: inline;
    margin-left: 35%;
    color: gray; }
    header nav .loginHeader .login {
      font-size: 1em;
      margin-left: 0px; }

header .homeHeader {
  float: right; }
  header .homeHeader a {
    font-size: 1em; }

.feed {
  display: block;
  margin: 200px 50px 50px 200px; }
  .feed img {
    float: left;
    margin-top: 20px;
    border-radius: 5px;
    margin-right: 10px; }
  .feed header {
    border-bottom: 1px solid #E1E8ED;
    padding-bottom: 10px; }
  .feed .tweet {
    display: block;
    margin: 0px 0 10px; }
  .feed .email {
    text-decoration: none;
    color: #53A7E8;
    font-weight: bold;
    float: left;
    display: block;
    margin-top: 20px; }
  .feed time {
    color: gray;
    margin: 0;
    line-height: 58px;
    padding: 10px 0; }

section.form,
section.regForm {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  text-align: center;
  margin-left: 50%; }
  section.form:last-child,
  section.regForm:last-child {
    margin-right: 0; }
  section.form input.email,
  section.form input.pwd,
  section.form input.pwd2,
  section.regForm input.email,
  section.regForm input.pwd,
  section.regForm input.pwd2 {
    width: 100%;
    margin: 5px;
    font-size: 0.8em;
    padding: 8px 60px 8px 5px;
    border-radius: 5px;
    border: 1px solid #E1E8ED; }
  section.form .instructions,
  section.regForm .instructions {
    color: gray;
    font-size: 0.9em;
    border-top: 1px solid #E1E8ED;
    padding-top: 15px; }
    section.form .instructions a,
    section.regForm .instructions a {
      text-decoration: none;
      color: #53A7E8;
      transition: text-decoration 0.5s ease; }
      section.form .instructions a:hover,
      section.regForm .instructions a:hover {
        text-decoration: underline;
        transition: text-decoration 0.5s ease; }
  section.form a.login,
  section.form .registerBtn,
  section.regForm a.login,
  section.regForm .registerBtn {
    color: white;
    text-decoration: none;
    background: #53A7E8;
    padding: 10px 60px;
    display: block;
    margin: 5px auto;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-left: 5px; }
  section.form .registerBtn,
  section.regForm .registerBtn {
    margin: 5px;
    padding: 10px 95px; }
  section.form a.loginLink,
  section.regForm a.loginLink {
    text-decoration: none;
    color: #53A7E8;
    display: none; }
