@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
  @include outer-container(800px);
  @include vertical-align();
}
  body {
  font-family: 'Helvetica' sans-serif;
}

header {
  nav {
    margin: 10px;
    a {
    text-decoration: none;
    color: #53A7E8;
    font-size: 1.5em;
    padding: 50px 10px;
    margin-left: 50px;
      &:hover{
        color: pink;
      }
      .fa {
        font-size: 2em;
      }
    }
  }
}

.feed {
  display: block;
  margin: 50px;
  img{
    float:left;
    margin-top: 20px;
    border-radius: 5px;
    margin-right: 10px;
  }
  header {
    border-bottom: 1px solid #E1E8ED;
    padding-bottom: 10px;
  }
  .tweet {
    display: block;
    margin:0px 0 10px;
  }
  .email {
    text-decoration: none;
    color: #53A7E8;
    font-weight: bold;
    float: left;
    display: block;
    margin-top: 20px;
  }
  time {
    color: gray;
    margin: 0;
    line-height: 58px;
    padding: 10px 0;
  }
}
