
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "variables";
@import "../bower_components/neat/app/assets/stylesheets/neat";


@mixin vertical-align($position: relative) {
  position: $position;
  // top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


body {
  @include outer-container;
  font-family: 'Helvetica' sans-serif;
}


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
  @include span-columns(12 of 12);
  @include vertical-align();
<<<<<<< HEAD
  // margin-top: 180px
  // max-height: 200px;
}


header.top {
  @include span-columns(12 of 12);
  // margin-bottom: 100px;
  position: fixed;
  background: #fff;
}

header {
  nav {
    margin: 10px;
    // background: gray;
    a {
    text-decoration: none;
    color: $twitterBlue;
    font-size: 1.5em;
    padding: 50px 10px 10px;
    margin-left: 50px;
      &:hover{
        color: navy;
      }
      .fa {
        font-size: 2em;
      }
    }
    a#searchBtn {
      margin-left: 0;
      font-size: 1em;
      border: 1px solid #E1E8ED;
      border-radius: 5px;
      padding: 3px;
      color: white;
      background-color: $twitterBlue;
    }
    #logOutBtn {
      font-size: 1em;
      margin-left: 0;
    }
    .smallAvatar {
      border-radius: 5px;
    }
    .profileHeader {
      float: right;
      input {
        border-radius: 10px;
        padding: 5px;
        border: 1px solid #E1E8ED;
      }
    }
    .twitterBird {
      margin-left: 280px;
      font-size: 1em;
    }
    #homeBtn {
      font-size: 1em;
    }
    .loginHeader {
      text-align: center;
      display: inline;
      margin-left: 35%;
      color: gray;
      .login {
        font-size: 1em;
        margin-left: 0px;
      }
    }
  }
  .homeHeader {
    float: right;
    a {
      font-size: 1em;
    }
  }
}

.feed {
  @include span-columns(6 of 12);
  display: block;
  margin: 100px 50px 50px 200px;

  @include span-columns(6 of 12);
  // position: absolute;
  img{
    float:left;
    margin-top: 20px;
    border-radius: 5px;
    margin-right: 10px;
  }
  header.tweetHeader {
    border-bottom: 1px solid $feedBorder;
    padding-bottom: 10px;

    p {
      color: #000000;
      font-size: 14px;
    }

     a.fa {
      text-decoration: none;
      color: $feedIcons;
      margin: 10px 15px 5px 15px;

      &:hover {
        color: $twitterBlue;
      }
    }
  }
  .tweet {
    display: block;
    margin:0px 0px 0px 0px;
    &:hover {
      background-color: $feedHoverBg;
    }
  }
  .email {
    text-decoration: none;
    color: $twitterBlue;
    font-weight: bold;
    float: left;
    display: block;
    margin-top: 20px;
    &:hover {
      text-decoration: underline;
    }
  }
  time {
    color: $twitterGray;
    margin: 0;
    line-height: 58px;
    font-size: 12px;
    padding: 10px 0;
    &:hover {
      text-decoration: underline;
    }

  }
}


//  login ------
section.form,
section.regForm {
  @include span-columns(4 of 12);
  text-align: center;
  margin-left: 40%;
  margin-top: 50%;

  input.email,
  input.pwd,
  input.pwd2 {
    width: 100%;
    margin: 5px;
    font-size: 0.8em;
    padding: 8px 60px 8px 5px;
    border-radius: 5px;
    border: 1px solid $loginBorder;
  }
  .instructions {
    color: gray;
    font-size: 0.9em;
    border-top: 1px solid $loginBorder;
    padding-top: 15px;
    a {
      text-decoration: none;
      color: $twitterBlue;
      transition: text-decoration 0.5s ease;
      &:hover{
        text-decoration: underline;
        transition: text-decoration 0.5s ease;
      }
    }
  }

  a.login,
  .registerBtn {
    color: white;
    text-decoration: none;
    background: $twitterBlue;
    padding: 10px 60px;
    display: block;
    margin: 5px auto;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-left: 5px;
  }
  .registerBtn {
    margin: 5px;
    padding: 10px 95px;
  }
  a.loginLink {
    text-decoration: none;
    color: $twitterBlue;
    display: none;
  }
}
