html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Helvetica' sans-serif; }
  body::after {
    clear: both;
    content: "";
    display: table; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  main::after {
    clear: both;
    content: "";
    display: table; }

main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  main:last-child {
    margin-right: 0; }

header nav {
  margin: 10px; }
  header nav a {
    text-decoration: none;
    color: #53A7E8;
    font-size: 1.5em;
    padding: 50px 10px;
    margin-left: 50px; }
    header nav a:hover {
      color: navy; }
    header nav a .fa {
      font-size: 2em; }

.feed {
  display: block;
  margin: 50px; }
  .feed img {
    float: left;
    margin-top: 20px;
    border-radius: 5px;
    margin-right: 10px; }
  .feed header {
    border-bottom: 1px solid #E1E8ED;
    padding-bottom: 10px; }
  .feed .tweet {
    display: block;
    margin: 0px 0 10px; }
  .feed .email {
    text-decoration: none;
    color: #53A7E8;
    font-weight: bold;
    float: left;
    display: block;
    margin-top: 20px; }
  .feed time {
    color: gray;
    margin: 0;
    line-height: 58px;
    padding: 10px 0; }

section.form {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  section.form:last-child {
    margin-right: 0; }
  section.form input.email {
    height: 40px; }
  section.form input.pwd {
    height: 40px; }
